* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
}

main {
  position: relative;
}

section {
  width: 100%;
  min-height: 100vh;
  border: 2px solid white;
  position: relative;
  z-index: 2;
}


