@import "tailwindcss";

@font-face {
    font-family: font-v;
    src: url(../font/Lausanne-300.woff2);
}
@font-face {
    font-family: font-v-2;
    src: url(../font/Lausanne-500.woff2);
}
body,html{
    overflow-x: hidden;
    scrollbar-width: none;
}
body::-webkit-scrollerbar{
    display: none;
}